<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="primary" [hidden]="!showSkip" (click)="onSkip($event)">跳过</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides #slides pager="true" (ionSlideWillChange)="onSlideWillChange($event)">
    <ion-slide>
      <img src="../../../assets/img/splsh_one.png" alt="">
    </ion-slide>
    <ion-slide>
      <img src="../../../assets/img/splsh_two.png" alt="">
    </ion-slide>
    <ion-slide>
      <img src="../../../assets/img/splsh_three.png" alt="">
    </ion-slide>
  </ion-slides>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button [hidden]="showSkip" color="primary" fill="outline" expand="block" size="large">登录</ion-button>
      </ion-col>
      <ion-col>
        <ion-button [hidden]="showSkip" color="primary" fill="outline" expand="block" size="large"
          href="/passport/signup">注册</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>