<ion-header>
  <ion-toolbar no-border color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref = "" text=""></ion-back-button>
    </ion-buttons>
    <span style="margin-left: 120px;font-size: 18px;">找回密码</span>
  </ion-toolbar>
  <ion-toolbar class="ion-text-center">
    1.输入邮箱或者手机号>2.输入验证码>3.重置密码
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin-top:100px">
    <form>
      <ion-list>
        <!-- 号码输入框 -->
        <ion-item style="padding-left: 30px;">
          <ion-input name="account" type="text" placeholder="请输入邮箱/电话号码">
          </ion-input>
        </ion-item>
        <!-- 下一步按钮 -->
        <ion-item style="padding-left: 27px;">
          <ion-button type="submit" color="primary" fill="outline" expand="block" size="large" class="btn">
            下一步
          </ion-button>
        </ion-item>
      </ion-list>
    </form>
  </div>
  <lcl-copyright [bottom]="'40px'" style="font-size: 12px;"></lcl-copyright>
</ion-content>