<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
          选择供应商
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="chevron-back-sharp" style="font-size: 30px;margin-left: -10px"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form>
    <ion-list>
      <ion-item *ngFor="let s of suppliers" (click)="onClick(s)"
        [ngClass]="{'item-active': s.name == activeSupplier.name}">
        <ion-label position="fixed" style="font-weight: bold;">名称</ion-label>
        <ion-label style="margin-left: -50px;">{{s.supplyName}}</ion-label>
        <ion-label position="fixed" style="font-weight: bold;">电话</ion-label>
        <ion-label style="margin-left: -50px;">{{s.supplyPhone}}</ion-label>
      </ion-item>
    </ion-list>
  </form>
</ion-content>