<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=" " defaultHref="/tabs/me/setting" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>修改密码</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding-horizontal">
    <form #slide3Form="ngForm">
      <ion-list class="ion-padding-right ion-no-margin">
        <!-- 旧密码 -->
        <ion-item class="ion-margin-top" lines="none">
          <ion-label position="stacked" style="font-size: 24px;">请输入旧密码</ion-label>
          <ion-input type="password" name="oldPassword" class="input-border ion-margin-top" color="primary" required
            pattern="(?!^bai[a-z]*$)(?!^du[A-Z]*$)(?!^[0-9]*$)(?!^[_\W]*$)^[a-zA-Z0-9].{8,}$"
            [(ngModel)]="reset.oldPassword" #oldPassword="ngModel">
          </ion-input>
        </ion-item>
        <!-- 旧密码验证错误提示 -->
        <ion-text class="ion-text-center" color="danger" *ngIf="oldPassword.invalid && oldPassword.touched">
          <p [hidden]="!oldPassword.errors?.pattern">密码至少包含两种类型的字符，长度8-16位</p>
        </ion-text>

        <!-- 新密码 -->
        <ion-item class="ion-margin-top" lines="none">
          <ion-label position="stacked" style="font-size: 24px;">请输入新密码</ion-label>
          <ion-input  type="password" name="password" class="input-border ion-margin-top" color="primary" required
            pattern="(?!^bai[a-z]*$)(?!^du[A-Z]*$)(?!^[0-9]*$)(?!^[_\W]*$)^[a-zA-Z0-9].{8,}$"
            [(ngModel)]="reset.password" #password="ngModel">
          </ion-input>
        </ion-item>
        <!-- 新密码验证错误提示 -->
        <ion-text class="ion-text-center" color="danger" *ngIf="password.invalid && password.touched">
          <p [hidden]="!password.errors?.pattern">密码至少包含两种类型的字符，长度8-16位</p>
        </ion-text>


        <!-- 确认密码 -->
        <ion-item lines="none" class="ion-margin-top">
          <ion-label position="stacked" style="font-size: 24px;">请确定新密码</ion-label>
          <ion-input  type="password" name="confirmPassword" class="input-border ion-margin-top" color="primary" required
            [pattern]="reset.password" [(ngModel)]="reset.confirmPassword" #confirmPassword="ngModel">
          </ion-input>
        </ion-item>
        <!-- 确定密码验证错误提示 -->
        <ion-text class="ion-text-center" color="danger" *ngIf="confirmPassword.invalid && confirmPassword.touched">
          <p [hidden]="!confirmPassword.errors?.pattern">请与输入的密码一致</p>
        </ion-text>

        <!-- 确定按钮 -->
        <ion-button color="primary" expand="full" size="large" style="padding: 0 9px;margin-top: 46px"
          class="ion-margin-top" [disabled]="slide3Form.invalid" (click)="onReset()">
          确定
        </ion-button>

      </ion-list>
    </form>
  </div>

  <lcl-copyright [bottom]="'40px'" style="font-size: 12px;"></lcl-copyright>
</ion-content>